.header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu{
  width: 50%;
  height: 0%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.accueil{
  font-size: 100%;
  font-family: Cinzel;
}
.bgimg{
  margin-top: -3%;
}
.text {
  position: absolute;
  left: 42%;
  top: 37%;
  color: rgba(255, 255, 255, 1);
  font-size: 228%;
  font-family: Cinzel;
}
.grbuttonexpo{
  position: absolute;
  left: 42%;
  bottom: 32%;
}
.EXPLORE_OUR_DELICOUS_MENU{
  color: rgb(245, 245, 245);
  font-size: 11px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  line-height: 50px;
}
.textview {
    color: rgba(0, 0, 0, 0.8299999833106995);
    font-weight: 700;
    text-decoration: none;
}
.accueil-button {
  margin-left: -26%;
  height: 51px;

}

/*bodypage*/
.bodypage{
  display: felx;
  flex-direction: column;
}
.Visit_Our {
  top: -27px;
  margin-left: -73%;
  color: rgba(244, 143, 175, 1);
  font-size: 47px;
  text-align: center;
  font-family: Cinzel Decorative;
  line-height: 39px;
}
.discription {
  width: 61%;
  margin-left: 2%;
  font-size: 17px;
  font-family: Roboto;
  font-weight: 100;
}
.LOCATIONS{
  font-size: 26px;
  color: rgba(0, 0, 0, 1);
  font-size: 146%;
  font-family: Roboto;
  font-weight: 300;
  line-height: 145%;
  margin-left: 9%;
}
.button2 {
  margin-top: 5%;
  margin-left: 41%;
  width: 165px;
  height: 40px;

}
/*footer*/
.footer{
  display: flex;
   justify-content: space-around;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7599999904632568);
}
.div1 {
  display:flex;
  flex-direction: column;
 
}
#t{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: Roboto;
}
.div1 p{
  color: rgb(255, 255, 255);
  width: 388px;
  font-size: 9px;
  text-align: center;
  font-family: Roboto;
}
.div2 {
  display:flex;
  flex-direction: column;
  margin-top: -1%;
}
.div2 p{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: Roboto;

}
.horaire {
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-family: Roboto;
  
}
.div3 {
  display:flex;
  flex-direction: column;
  margin-top: -1%;
}
.div3 div{
  color: rgba(255, 255, 255, 1);
  font-size: 9px;
  font-family: Roboto;
  font-weight: 100;
 
}
.div3 p {
  color: rgba(255, 255, 255, 1);
  font-style: Regular;
  font-family: Roboto;
}
@media screen and (max-width: 680px) {
  .accueil{
    font-size: 10px;
    font-family: Cinzel;
    line-height: 39px;
  }
  .bgimg {
    height: 300px;
    width: 100%;
  }
  .grbuttonexpo{
    position: absolute;
    left: 42%;
    bottom: 29%;
  }
  .bodypage{
    display: felx;
    flex-direction: column;
    background-image: url(./public/playground_assets/mae-mu-hDYNeAebHtU-unsplash-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Visit_Our {
    margin-left: -7%;
    color: rgba(244, 143, 175, 1);
    font-size: 47px;
    text-align: center;
    font-family: Cinzel Decorative;
    line-height: 39px;
  }
  .discription {
    width: 50%;
    margin-left: 30%;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
  }
  .LOCATIONS{
    font-size: 26px;
    color: rgba(0, 0, 0, 1);
    font-size: 146%;
    font-family: Roboto;
    font-weight: 500;
    line-height: 305%;
    margin-left: 40%;
  }
  .button2 {
    margin-top: 30%;
    margin-left: 41%;
    width: 165px;
    height: 40px;
  
  }
  #t{
    font-size:10px;
  }
.div1 p{
  width: 100px;
  font-size: 6px;
  text-align: center;
  font-family: Roboto;
}
.div2 p{
  font-size:10px;
}
.horaire {
  width: 100px;
  font-size: 7px;
  
}
.div3 div{
  width: 100px;
  font-size: 7px;
}
.div3 p {
  font-size:10px;
}
}