.header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu{
  width: 50%;
  height: 0%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.accueil{
  font-size: 100%;
  font-family: Cinzel;
}
.bgimg{
  margin-top: -3%;
}
.text {
  position: absolute;
  left: 42%;
  top: 37%;
  color: rgba(255, 255, 255, 1);
  font-size: 228%;
  font-family: Cinzel;
}
.grbuttonexpo{
  position: absolute;
  left: 42%;
  bottom: 32%;
}
.EXPLORE_OUR_DELICOUS_MENU{
  color: rgb(245, 245, 245);
  font-size: 11px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  line-height: 50px;
}
.textview {
    color: rgba(0, 0, 0, 0.8299999833106995);
    font-weight: 700;
    text-decoration: none;
}
.accueil-button {
  margin-left: -26%;
  height: 51px;

}

  /*body*/
  .body{
    background-image: url("public/playground_assets/alvapratta5todh34m0iunsplash1135-ofl-500h.png");
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
  }
  .text2{
    display:flex;
    flex-direction: column;
  }
  #t1{
    text-align: center;
    font-size: 11px;
    font-style: ExtraBold;
    font-family: Roboto;
    font-weight: 800;}
.mapouter {
     display: block;
    margin-left: 20%;
    margin-top: 2%;}

    .reseau{
     width: 106%;
    margin-left: 32%;
        display: flex;
        justify-content: space-around;
    }
    #t2{    
      color: rgba(255, 255, 255, 1);
      text-align: center;
      font-size: 11px;
      font-style: ExtraBold;
      font-family: Roboto;

    }
    .follow{
    color:rgba(201, 115, 142, 1); 
    text-align: center;font-family: Roboto;
    font-weight: 400;
    line-height: 39px;
    font-stretch: normal;
    font-size: 18px;
    }
  .s{
    display: flex;
    flex-direction: column;
    margin-top: -15%;

  }
  #twitter{
    margin-left:-415px;
  }
/*footer*/
.footer{
  display: flex;
   justify-content: space-around;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7599999904632568);
}
.div1 {
  display:flex;
  flex-direction: column;
 
}
#t{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: Roboto;
}
.div1 p{
  color: rgb(255, 255, 255);
  width: 388px;
  font-size: 9px;
  text-align: center;
  font-family: Roboto;
}
.div2 {
  display:flex;
  flex-direction: column;
  margin-top: -1%;
}
.div2 p{
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: Roboto;

}
.horaire {
  color: rgb(255, 255, 255);
  font-size: 9px;
  font-family: Roboto;
  
}
.div3 {
  display:flex;
  flex-direction: column;
  margin-top: -1%;
}
.div3 div{
  color: rgba(255, 255, 255, 1);
  font-size: 9px;
  font-family: Roboto;
  font-weight: 100;
 
}
.div3 p {
  color: rgba(255, 255, 255, 1);
  font-style: Regular;
  font-family: Roboto;
}
  @media screen and (max-width: 680px) {
    .accueil{
      font-size: 10px;
      font-family: Cinzel;
      line-height: 39px;
    }
    .bgimg {
      height: 300px;
      width: 100%;
    }
    .grbuttonexpo{
      position: absolute;
      left: 42%;
      bottom: 29%;
    }
    /*body*/
    .body{
      background-image: url("public/playground_assets/david-brooke-martin-lFTtQqVfx6g-unsplash-removebg-preview.png");
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-repeat: no-repeat;
    }
    
    .mapouter {
      display: none;
    }
    #t1{
      font-size: 20px;
    }
    #t2{    
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 20px;
      font-style: ExtraBold;
      font-family: Roboto;

    }
    .s{
      margin-top: 100%;
    }
 .maps{
  margin-top: -77%;
 }
 #twitter{
  margin-left: -1300%;
 }
    /*foot*/
  #t{
    font-size: 10px; 
  }
  .div1 p{
    width: 150px;
    font-size: 7px;
    text-align: center;
    font-family: Roboto;
  }
  .div2 p{
    font-size:10px;
  }
  .horaire {
    width: 100px;
    font-size: 7px;
    
  }
  .div3 div{
    width: 100px;
    font-size: 7px;
  }
  .div3 p {
    font-size:10px;
  }
  }
  