/*header*/
.header{
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 380px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.select {
  top: 0px;
  left: -23px;
  width: 1214px;
  height: 142px;
  position: fixed;

}
.logo {
  top: -10px;
  left: 1px;
  width: 142px;
  height: 142px;
  position: absolute;

}
.accueil{
  top: -1px;
  left: 712px;
  position: absolute;
  font-size: 17px;
  font-family: Cinzel;
  line-height: 39px;
}
.lacarte{
  left: 857px;
  top: -1px;
  position: absolute;
  font-size: 17px;
  font-family: Cinzel;
  line-height: 39px;
}
.Izanagi{
  top: -1px;
  left: 1003.174560546875px;
  position: absolute;
  font-size: 17px;
  font-family: Cinzel;
  line-height: 39px;
}
.contact{
  right: 2px;
  top: -1px;
  position: absolute;
  font-size: 17px;
  font-family: Cinzel;
  line-height: 39px;
}
.bgimg{
  top: 90px;
  left: -1px;
  width: 1280Px;
  height: 274px;
  position: absolute;

}
.text {
  position: absolute;
  top: 183px;
  left: 536px;
  color: rgba(255, 255, 255, 1);
  font-size: 37px;
  height: auto;
  font-family: Cinzel;
}
.grbuttonexpo{
  position: absolute;
  left: 426px;
  bottom: -21px;
  height: 113px;
}
.EXPLORE_OUR_DELICOUS_MENU{
  position: absolute;
  top: -81px;
  left: -9px;
  color: rgb(245, 245, 245);
  width: 390px;
  font-size: 11px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  line-height: 50px;
  
}
.textview {
  top: -12px;
  left: 90px;
  color: rgba(0, 0, 0, 0.8299999833106995);
  position: absolute;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 50px;
}
.accueil-button {
  left: 52px;
  width: 211px;
  bottom: 28px;
  height: 51px;
  position: absolute;
}
/*bodypage*/
.bodypage {
  top: 404px;
  left: 67px;
  width: 674px;
  height: 231px;
  position: absolute;
}
.bgpage{
   margin-left: -83px;
    width: 1280px;
    height: 237px;
    position: absolute;
    margin-top: -20px;
}
.text2{
  position:absolute;
  display: flex;
  flex-direction: column;
  top: 21px;
  left: -32px;
  color: rgb(0, 0, 0);
  width: 1197px;
  font-size: 19.1915px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 35px;
}
/*footer*/
.footer{
  position: absolute;
  top: 641px;
  left: 0px;
  width: 1280px;
  height: 191px;
  background-color: rgba(0, 0, 0, 0.7599999904632568);
}
.div1 {
  top: 30.476211547851562px;
  left: 817.7777709960938px;
  width: 389px;
  height: 106.66666412353516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.div1 span{
  top: -2px;
  left: -13px;
  color: rgba(255, 255, 255, 1);
  width: 388px;
  position: absolute;
  align-self: auto;
  font-style: Regular;
  font-family: Roboto;
  text-align: center;
}
.div1 p{
  top: 19px;
  left: -8px;
  color: rgb(255, 255, 255);
  width: 388px;
  position: absolute;
  font-size: 9px;
  text-align: center;
  font-family: Roboto;
  font-weight: 100;
}
.div2 {
  top: 19.47092056274414px;
  left: 418.2010498046875px;
  width: 201px;
  height: 117.67195892333984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.div2 p{
  left: 79px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  text-align: center;
  font-family: Roboto;

}
.horaire {
  left: 75px;
  top: 40px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 9px;
  font-family: Roboto;
  font-weight: 100;
  
}
.accueil-text45 {
  color: #ffffff;
  font-size: 9.87936px;
  font-family: Roboto;
  font-weight: 100;
  line-height: normal;
  text-decoration: none;
}
.div3 {
  top: 21px;
  left: 93px;
  width: 128px;
  height: 128px;
  position: absolute;
}
.div3 div{
  top: 40px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-size: 9px;
  font-family: Roboto;
  font-weight: 100;
 
 
}
.div3 span {
  width: 200px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-style: Regular;
  font-family: Roboto;
}
